.banner {
  height: 100%;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner-content {
  position: absolute;
  top: 40%;
  color: var(--white);
  left: 10px;
}

.title {
  font-size: 36px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
}